<!-- surrounding html -->
<head>
    <link rel="stylesheet" href="../css/main.css">
</head>

<div class = "header">
<a href = "/"> <img src="img/kaomoji.png" alt="Hutao", width = "50", height = "50"> </a> 
<a href = "/"> Kaomoji Texting </a> 
<a href = "/editor"> Editor </a>
<a href = "/dictionary"> Dictionary </a>
<br>
</div>

{{{ body }}}
<!-- surrounding html -->